@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&family=Syne:wght@400..800&display=swap');

@font-face {
    font-family: DroidLover;
    src: url(/asessts/fonts/DroidLover-M6Ox.ttf);
}

@font-face {
    font-family: OCRAExtended;
    src: url(/asessts/fonts/OCRAEXT.TTF);
}

/*----- Theme -----*/
:root {
    /*--- Fonts ---*/
    --heading-font: "DroidLover", monospace;
    --subtitle-font: "OCRAExtended", monospace;
    --body-font: "Syne", sans-serif;
    /*--- Colors ---*/
    --eerie-black: #242728;
    --paynes-gray: #266073;
    --verdigris-blue: #4DB3B3;
    --tiffany-blue: #94D2C3;
    --floral-white: #FAF6EB;
    --xanthous-yellow: #F5B73D;
    --tangerine-oragne: #E68019;
    --rust-orange: #AD361F;
    --falu-red: #7D1B20;

}

/*----- Basic Style -----*/
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--eerie-black);
    color: var(--floral-white);
    font-family: var(--body-font);
    font-size: 1em;
    letter-spacing: 0.05em;
    line-height: 1.2em;
    overflow-x: hidden;
}

#landing-area,
#contact {
    max-width: 1200px;
    margin: 11em auto 0;
}

h1,
h1,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

a {
    color: var(--xanthous-yellow);
    cursor: pointer;
}

a:hover {
    color: var(--tangerine-oragne);
}

/*----- Nav Bar -----*/
.nav-bg {
    width: 100vw;
    padding-top: 1em;
    margin: -1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242728dc;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin: 1em;
    font-size: 1.6em;
    font-family: var(--subtitle-font);
}

nav a {
    color: var(--floral-white);
    text-decoration: none;
}

.nav-title {
    font-family: var(--heading-font);
    font-size: 2.2em;
}

.nav-title:hover {
    color: var(--floral-white);
}

.nav-title span {
    color: var(--xanthous-yellow);
}

.nav-title:hover span {
    color: var(--tangerine-oragne);
}

.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-buttons a {
    padding: 0.4em 1em;
    margin: auto 0.4em;
    color: var(--xanthous-yellow);
    border: 2pt solid var(--rust-orange);
    border-radius: 50px;
}

.nav-buttons a:hover {
    border-color: transparent;
    background-color: var(--xanthous-yellow);
    color: var(--eerie-black);
}

/*----- WIP Button -----*/
.wip {
    width: 40vw;
    margin: 4.2em auto -2.6em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--verdigris-blue);
    color: var(--eerie-black);
    border-radius: 50px;
}

.wip:hover {
    cursor: pointer;
}

.wip h2 {
    font-family: var(--subtitle-font);
    margin: 1em 0 0;
    font-size: 2em;
}


/*----- Landing Section -----*/
.hero {
    display: grid;
    grid-template-columns: 3fr 4fr;
    justify-items: center;
    align-items: end;
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.hero iframe {
    height: 50vh;
    border: none;
    border-radius: 20px;
}

.hero-text {
    margin-left: 1em;
}

.hero-text h1 {
    font-size: 6em;
    line-height: 90%;
    margin-bottom: 0;
}

/*--- 3D Model ---*/
#conatiner3D canvas {
    position: relative;
    width: 100%;
    height: 100%;
    margin-right: 0.6em;
}

/*----- Work Section -----*/
#work {
    width: 100%;
    max-width: 100vw;
    margin: 17em auto;
}

.work-title {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto 4em;
}

.work-title h2 {
    font-family: var(--heading-font);
    font-size: 4em;
    line-height: 90%;
    margin-bottom: 0;
}

.work-title p {
    font-size: 1.4em;
}

.splide__slide img {
    width: auto;
    height: 100%;
    border-radius: 50px;
    cursor: pointer;
}

.splide__slide {
    margin: 0 1em;
}

/*--- Modal ---*/
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    max-width: 1200px;
    width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
    transition: 200ms ease-in-out;
}

.modal-close-bar {
    padding: 3em 2em 0em 0em;
    display: flex;
    justify-content: end;
    align-items: center;

}

.modal h3 {
    font-family: var(--subtitle-font);
    font-size: 3em;
    margin: 0;
}

.modal-close-bar .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: var(--floral-white);
    font-size: 1.75em;
    margin: 0;
}

.modal-close-bar .close-button:hover {
    color: var(--falu-red);
}

.modal-body {
    width: 90%;
    margin: auto;
    padding: 2em 2em 1em 2em;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    border-radius: 60px;
    background-color: var(--eerie-black);
    filter: drop-shadow(#000 1em 1em 2em);
}

.modal-body img {
    width: 100%;
    border-radius: 50px;
}

.modal-text {
    margin: 2em 1.5em;
}

.modal-body button {
    padding: 0.4em 1em;
    margin: 0 1.2em 1.2em;
    color: var(--xanthous-yellow);
    border: 2pt solid var(--falu-red);
    border-radius: 50px;
    background-color: var(--eerie-black);
    font-family: var(--body-font);
    font-size: 1.2em;
    cursor: pointer;
}

.modal-body button:hover {
    border-color: transparent;
    background-color: var(--xanthous-yellow);
    color: var(--eerie-black);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 3;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.wip-modal-style {
    background-color: var(--eerie-black);
    align-items: center;
    padding: 2em;
}

/*----- About Section -----*/
#about {
    background-color: var(--floral-white);
    color: var(--eerie-black);
    width: 100%;
    margin: 0;
}

.top-decal{
    width: 100%;
    margin-bottom: 6em;
}

.bottom-decal{
    width: 100%;
    margin-top: 5em;
    margin-bottom: -1em;
}

.about {
    display: grid;
    grid-template-columns: 3fr 4fr;
    justify-items: center;
    align-items: center;
    width: 80%;
    margin: auto;
    max-width: 1200px;

}

.about img {
    border-radius: 50px;
    max-height: 40vh;
    margin-right: 0.6em;
}

.about-text {
    margin-left: 1em;
}

.about-text h2 {
    font-family: var(--heading-font);
    font-size: 6em;
    line-height: 90%;
    margin-bottom: 0;
}

/*----- Contact ------*/
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-container h2 {
    font-family: var(--heading-font);
    font-size: 6em;
    line-height: 90%;
    margin-bottom: 0;
}

.contact-container p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 1em;
}

input[type=text],
input[type=submit] {
    width: 50%;
    padding: 12px;
    margin: 1em auto;
    display: inline-block;
    border: none;
    border-radius: 50px;
    text-align: center;
    font-family: var(--body-font);
    font-size: 1.2em;
}

input[type=submit] {
    width: 25%;
    color: var(--xanthous-yellow);
    background-color: transparent;
    border: 2pt solid var(--rust-orange);
    border-radius: 50px;
    font-family: var(--subtitle-font);
    font-size: 1.8em;
}

input[type=submit]:hover {
    border-color: transparent;
    background-color: var(--xanthous-yellow);
    color: var(--eerie-black);
}

input[type=text]:focus,
input[type=submit]:focus {
    border: none;
    outline: 0;
}

/*----- Footer -----*/
footer {
    margin-top: 5em;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2pt solid var(--verdigris-blue);
}

.socials {
    font-size: 2.6em;
    margin: 1em auto 0.4em;
}

.socials a {
    margin: auto 0.4em;
}